
{{#each erros}}

 <div class="alert alert-danger">{{texto}}</div>

{{else}}

{{/each}}

<h3>Editar Ponto de coleta:</h3>
<div class="card">

<div class="card-body">

<form action="/admin/ponto-coleta/edit" method="POST">

 <input type="hidden" name="id" value="{{pontocoleta._id}}">

<label for="nome">Nome do Local: </label>
<input type="text" id="nome" name="nome" placeholder="Nome" class="form-control" value="{{pontocoleta.nome}}">

<label for="bairro">Bairro: </label>
<input type="text" name="bairro" placeholder="bairro" class="form-control" value="{{pontocoleta.bairro}}" required>

<label for="rua">Endereço: </label>
<input type="text" name="rua" placeholder="Rua" class="form-control" value="{{pontocoleta.rua}}" required>

<label for="numero">Numero: </label>
<input type="number" name="numero" placeholder="numero" class="form-control" value="{{pontocoleta.numero}}" required>


<label for="numero">Materiais: </label>
<input type="text" name="itens" placeholder="materiais" class="form-control" value="{{pontocoleta.itens}}" required>


<button type="submit" class="btn btn-success mt-4">Editar Ponto de coleta</button>

</form>

</div>
</div>