<br>
<center>
<h2>Todas as  Noticias:</h2>
</center>
</br>
 <link rel="stylesheet" href="../css/estilo.css">


<div class="card-deck"> 



{{#each noticias}} 
<div classs="row>">
<div class="col-sm-12" >
        <div class="card" >
              <a href="/homeNoticias/{{slug}}"><img src="../upload{{imagem}}" class="card-img-top" alt="..."></a>
            <div class="card-body">
              <h1 class="card-title">Titulo: {{titulo}}</h1>
              <p class="card-text">Descricao: {{descricao}}.</p>
            </div>
        </div>
        
  {{else}}
  </div>
  </div>
  
<center>
    <p>Nenhuma noticia Registrada</p>
  {{/each}}
  </div>
      
         <a href="/admin/noticias/add" <button class="btn btn-success">Nova Noticia</button> </a>
  </center>



