

<h2>Todas as  Noticias:</h2>


 <link rel="stylesheet" href="../css/estilo.css">


<div class="card-deck"> 

<div classs="row>">
<div class="col-sm-12" >
{{#each noticias}} 
    <div class="card" >
          <a href="/homeNoticias/{{slug}}"><img src="../upload{{imagem}}" class="card-img-top" alt="..."></a>
        <div class="card-body">
          <h5 class="card-title">Titulo: {{titulo}}</h5>
          <p class="card-text">Descricao: {{descricao}}.</p>
        </div>
    </div>
    
  
  </div>
  {{else}}
  <p>Nenhuma noticia Registrada</p>
  {{/each}}
  
</div>
</div>
      <center>
        <a href="/admin/noticias/add" <button class="btn btn-success">Nova Noticia</button> </a>
      </center>



