
<br>
<center>
<h2>Todos os Produtos:</h2>
</center>
</br>
 <link rel="stylesheet" href="../css/estilo.css">

<div class="card-deck"> 

{{#each produto}} 
<div classs="row>">
<div class="col-sm-12" >
        <div class="card" >
              <a href="/homeProduto/{{slug}}"><img src="../uploadproduto{{imagem}}" class="card-img-top" alt="..."></a>
            <div class="card-body">
              <h1 class="card-title">{{titulo}}</h1>
              <p class="card-text">{{subtitulo}}</p>
            </div>
        </div>
        
  {{else}}
  </div>
  </div>

<center>
    <p>Nenhum produto Registrado</p>
  {{/each}}
  </div>
  </center>
  
