<style>
    .doze {
        max-width: 100%;
        width: 395px;
        height: 395px;
        object-fit: cover;
    }

    .um {
        max-width: 100%;
        width: 150px;
        height: 150px;
        object-fit: cover;
    }
</style>
<h3>Tutorial</h3>
<hr>
<div class="card mt-4">
    <div class="card-header text-center">
        <b>
            <h4>{{tutorial.titulo}}</h4>
        </b>
        <small>Subtitulo: {{tutorial.subtitulo}}</small><br>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12 text-center">
                {{#if tutorial.imagem}}
                <img src="../uploadTutorial{{tutorial.imagem}}" class="doze" />
                {{/if}}
            </div>
            <br>
            <div class="col-12">
                <div class="container">
                    <h6 align="justify" class="text-center"> Conteúdo: {{tutorial.texto}}</h6>
                </div>
            </div>
            <div class="col-12 text-center">
                {{#if tutorial.video}}
                <video width="320" height="240" controls>
                    <source src="../uploadTutorial{{tutorial.video}}" type="video/mp4">
                </video>
                {{/if}}
            </div>
            <div class="col-12 text-center">
                {{#if tutorial.audio}}
                <audio controls>
                    <source src="../uploadTutorial{{tutorial.audio}}" type="audio/mpeg">
                </audio>
                {{/if}}
            </div>
        </div>
    </div>
    <div class="card-footer text-muted">
        <blockquote class="blockquote mb-0">
            <footer class="autor" class="blockquote-footer">Autor: {{tutorial.autor}}</footer>
        </blockquote>
        <div class="data" class="d-flex justify-content-end">Data de Publicação: {{tutorial.data}}</div>
    </div>
</div>