<head>
    <link rel="stylesheet" href="../css/estilo.css">
</head>

<header>
    <img class="displayed " src="../imagens/logo.jpeg" alt="telaprincipal">


    <ul class="nav margem">



       
        <li><a href="/">Inicio</a></li>
        <li><a href="/noticias"> Noticias</a></li>
        <li><a href="/tutorial">Tutoriais</a></li>
        <li><a href="/pontocoletas">Pontos de coleta</a></li>
        <li><a href="/produtos">Produtos</a></li>
        <li><a href="/sobre"> Sobre</a></li>


    </ul>
</header>
<hr>

<h2>Noticias Recentes:</h2>


<div classs="row>">
    <div class="car-groud">
    {{#each noticias}}
        <div class="card" >
              <a href="/homeNoticias/{{slug}}"><img src="../upload{{imagem}}" class="card-img-top" alt="..."></a>
            <div class="card-body">
              <h5 class="card-title">Titulo: {{titulo}}</h5>
              <p class="card-text">Descricao: {{descricao}}</p>
                <a href="/HomeNoticias/{{slug}}" <button class="btn btn-success">Leia Mais</button> </a>
      
            </div>
        </div>
  
    </div>
</div>
{{else}}
<center><p>Nenhuma noticia Registrada</p></center>
{{/each}}
     