<head>
 <link rel="stylesheet" href="../css/estilo.css">
 </head>

<h1>{{categoria.nome}}</h1>

{{#each pontocoleta}}
<div class="card mt-4" style="width: 37rem;">

    <div class="card-body">
      
       

        <h4 class="ponto-coleta-titulo">{{nome}}</h4>
        <small class="ponto-coleta-texto"> Rua: {{rua}}<small>
        <small class="ponto-coleta-texto">, n° {{numero}}</small><br>
        <small class="ponto-coleta-texto">{{horarioAtendimento}}</small><br>
        
          <small class="ponto-coleta-texto">{{itens}}</small>
        


    </div>


</div>
{{else}}
<h5>Nenhuma ponto de coleta</h5>
{{/each}}