<style>
   .doze {
      max-width: 100%;
      width: 395px;
      height: 395px;
      object-fit: cover;
   }

   .um {
      max-width: 100%;
      width: 150px;
      height: 150px;
      object-fit: cover;
   }
</style>
<h3>NOTÍCIA</h3>
<hr>
<div class="card mt-4">
   <div class="card-header text-center">
      <b><h4>{{noticias.titulo}}</h4></b>
      <small>descricao: {{noticias.descricao}}</small><br>
      <small>Autor: {{noticias.autor}}</small><br>
   </div>
   <div class="card-body">
      <div class="row">
         <div class="col-12 text-center">
            <img src="../upload{{noticias.imagem}}" class="doze" />
         </div>
         <br>
         <div class="col-12">
            <div class="container">
               <h6 class="text-center"> Conteúdo: {{noticias.conteudo}}</h6>
            </div>
         </div>
         <div class="col-12 text-center">
            <video width="320" height="240" controls>
               <source src="../upload{{noticias.video}}" type="video/mp4">
            </video>
         </div>
         <div class="col-12 text-center">
            <audio controls>
               <source src="../upload{{noticias.audio}}" type="audio/mpeg">
            </audio>
         </div>
      </div>
    </div>
   <div class="card-footer text-muted">
      <blockquote class="blockquote mb-0">
         <footer class="autor" class="blockquote-footer">Autor: {{noticias.autor}}</footer>
      </blockquote>
      <div class="data" class="d-flex justify-content-end">Data de Publicação: {{noticias.data}}</div>
   </div>
</div>

