<center><h3>NOTÍCIA</h3></center>

      
<hr>


<div class="card mt-4">

    <div class="card-body">

        <h4>{{noticias.titulo}}</h4>
        <small>descricao: {{noticias.descricao}}</small><br>
        <br>
       <center>
         <img src="../upload{{noticias.imagem}}"  width="400" height="400" /> 
        </br>    
      <small> <h1>Conteúdo:</h1> {{noticias.conteudo}}</small><br>
        
         <video width="320" height="240" controls>
            <source src="../upload{{noticias.video}}" type="video/mp4">
           
         </video>

         <br>
         
         <audio controls>
            <source src="../upload{{audio}}" type="audio/mpeg">
         </audio>
         </br>
         </center>

     
        

    </div>


</div>

