<h2>PRODUTOS:</h2>
<hr>

{{#each produto}}

<div class="card">

    <div class="card-body">
        <h4>{{titulo}}</h4>
        <small>{{subtitulo}}</small><br>
        <small> <h1></h1> {{texto}}</small><br>
         <img src="{{imagem}}"  width="250" height="150" /> >
        <small> Data:{{data}}</small>
    </div>
</div>
{{else}}
 <h4 class="mt-3"> Nehum Produto Registrado </h4>>
{{/each}}
