<h2>Lista de Tutoriais:</h2>
<hr>
<a href="/admin/tutorial/add" <button class="btn btn-success">Novo Tutorial</button> </a>

{{#each tutoriais}}

<div class="card mt-4">

    <div class="card-body">


        <h3>{{titulo}}</h3>
        <h4>{{subtitulo}}</h4>
        <h6>{{texto}}</h6>
        <h6>{{autor}}</h6>
        <small>Data: {{data}}</small><br>

        <a href="/admin/tutorial/edit/{{_id}}"><button class="btn btn-success mt-4">Editar Tutorial</button></a>

        <form action="/admin/tutorial/deletar" method="POST">

            <input type="hidden" name="id" value="{{_id}}">
            <button type="submit" class="btn btn-danger mt-2">Deletar Tutorial</button>

        </form>

    </div>


</div>

{{else}}
<h4 class="mt-3"> Nenhum Tutorial Registrado</h4>
{{/each}}