<head>
    <link rel="stylesheet" href="../css/tutoriais.css">
</head>

<div class="container-fluid">
    <h2>Lista dos Tutoriais:</h2>
    <hr>
    <div  class="d-flex justify-content-end">
        <a href="/admin/tutoriais/add" <button class="btn btn-lg btn-success">Novo Tutorial</button> </a>
    </div>
    <br>
    {{#each tutorial}}
        <div class="card w-75">
            <div class="card-header">
                <div  class="d-flex justify-content-end">
                    <form action="tutoriais/deletar" method="POST">
                        <input type="hidden" name="id" value="{{_id}}">
                        <button type="submit" class="btn btn-lg btn-danger mt-2">Deletar</button>
                    </form>
                </div>
                <h4>Título: {{titulo}}</h4>
                <div class="subtitulo">Subtítulo: {{subtitulo}}</div>
            </div>
            <div class="card-body">
                <img src="../upload/tutoriais{{imagem.imagem}}" widt h="400" height="400" />
                <p class="texto-tutorial" class="ponto-coleta-texto">{{texto}}<small>
            </div>
            <div class="card-footer text-muted">
                <blockquote class="blockquote mb-0">
                    <footer class="autor" class="blockquote-footer">Autor: {{autor}}</footer>
                </blockquote>
                <div class="data" class="d-flex justify-content-end">Data de Publicação: {{data}}</div>
                    <a href="/admin/tutoriais/edit/{{_id}}"><button class="btn btn-lg btn-warning mt-4">Editar</button></a>
                </div>
            </div>
            <br>
        {{else}}
            <h4 class="mt-3"> Nenhum Tutorial Registrado</h4>
    {{/each}}
</div>